.selected {
  border: 2px solid gold;
  animation: moveIt 5s infinite;
}

@keyframes moveIt {
  50% {border: 7px solid rgb(196, 161, 6);}
}

.princes {
  margin: 0; 
  padding:0;
  list-style-type: none;
  display: block;
  position: relative;
}

.princes li {
  float: left;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.princes .img {
  border-radius: 50%;
  width: 100px;
  height: 90px;
  padding: 5px;
}

.princes .name {
  margin: 0;
  padding: 0;
  text-align: center;
}